body {
  width:60%;
  margin: auto;
  font-family: sans-serif;
  text-align: center;
}

.box {
  padding: 16px;
  border: 1px solid grey;
  margin: 15px;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;

}
